.about {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, var(--light-gray) 0%, var(--light-pink) 100%);
    box-sizing: border-box;
    padding: 130px 20% 1px 20%;
    text-align: center;
}

.about-profile {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.about-title {
    margin: 2rem 0;
    font-size: 1.8rem;
    font-family: "AvenirBold";
}

.about-description {
    margin: 2rem 0;
    text-align: justify;
}

.about-description a {
    text-decoration: none;
    color: darkmagenta;
}

.shakira-smile {
    width: 355px;
    max-width: 100%;
    float: right;
    margin: 0 0 15px 15px;
}